<div class="layout">
  <div class="containerIndex">
    <div>
      <div class="titleContainer">
        <h1 class="title">Bienvenido a El Bodegon!</h1>
      </div>
      <div class="titleContainer">
        <a class="link" href="/productos" class="linkCatalogo">
          Ver Catalogo en tiempo real
        </a>
      </div>
    </div>
    <div class="chatContainer">
      <div class="chat">
        <h2>Chat en vivo</h2>
        <div class="chatContent" id="chatContent">
        </div>
        <div class="containerTextChat">
          <input class="textChat" type="text" id="textChat">
          <button id="enviar">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="containProductos" id="containProducts">
    {{#each products}}
      <div class="producto">
        <h2> {{this.nombre}} </h2>
        <div>
          <p> Bodega: {{this.bodega}} </p>
          <p> Tipo: {{this.tipo}} </p>
          <p> Variedad: {{this.variedad}} </p>
          <p> Año: {{this.año}} </p>
        </div>
        <h3> Precio: ${{this.precio}},00 </h3>
        <button>Agregar</button>
      </div>
    {{/each}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>

</div>